<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uma.tfg.appartment" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Permisos notificaciones push -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:name=".AppartmentApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.IndexActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AuthenticationActivity"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay" >
        </activity>
        <activity
            android:name=".activities.CreateGroupActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_create_group"
            android:screenOrientation="portrait" >
        </activity>

        <!-- &lt;!&ndash; Intent filter notificaciones push &ndash;&gt; -->
        <!-- <receiver -->
        <!-- android:name=".GcmBroadcastReceiver" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->


        <!-- <category android:name="com.example.gcm" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- <service android:name=".GcmIntentService" /> -->

        <activity
            android:name=".activities.GroupDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.CreateReceiptActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_create_receipt"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.ReceiptDetailsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_receipt_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.InviteActivity"
            android:label="@string/title_activity_invite"
            android:configChanges="orientation"
            android:screenOrientation="portrait"  >
        </activity>
    </application>

</manifest>
